* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
.wapka {
  position: absolute;
  width: 100%;
  background-image: url("/images/deko.png");
  z-index: -1;
  min-height: 105vh;
  min-width: 105vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}
.wapkadanek {
  position: absolute;
  z-index: -1;
  background-image: url("/images/danek.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 105vh;
  min-width: 105vh;
}
a {
  padding-left: 15px;
  text-decoration: solid;
  color: whitesmoke;
}
.back {
  text-decoration: solid;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
h1 {
  padding-left: 15px;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: rgb(17, 252, 17);
}
