* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
.blur {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/dyrachyo.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}
.deko {
  margin: 5px;
  text-decoration: solid;
  font-size: larger;
  font-weight: bold;
  color: black;
}
.deko:hover {
  color: blue;
  text-decoration: none;
  font-size: large;
}

.em0k1d2007 {
  margin: 5px;
  text-decoration: solid;
  font-size: larger;
  font-weight: bold;
  color: black;
}
.em0k1d2007:hover {
  color: rgb(33, 221, 33);
  text-decoration: none;
  font-size: large;
}
